
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

#header{
    min-height: fit-content;
    padding: 10px 5px;
    background: silver;
}

#logocs {
    display: block;
    margin: 0 auto;
    width: 280px;
}

#container {
    margin: 0 100px;
    margin-bottom: 200px;
    background: silver;
}

#myTopnav ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: grey;
}

#myTopnav li{
    width: 100%;
    display: block;
}

#myTopnav #burger{
    position: absolute;
    z-index: -1;
    top: 0; 
    left: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}


#myTopnav a, 
#myTopnav label{
    display: block;
    font-size: 18px;
    padding: 5px;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
}

#myTopnav a:hover,
#myTopnav label:hover{
    cursor: pointer;
    background: hsl(0,0%,20%);
}

#myTopnav .icon{
    display: none;
}


/* #############
main
podlasie górą
podlasia mountain
################ */

main{
    background: silver;
    margin: 0 100px;
}


#lewy{
    padding: 15px;
}

#lewy h3,
#lewy .tekst{
    color: hsl(0,0%, 5%);
}

#lewy h3{
    font-size: 24px;
    margin-bottom: 10px;
}

#lewy .tekst{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}

#prawy{
    text-align: center;
}

#prawy #komputer{
    padding: 10px;
    max-width: 100%;
}

#myForm{
    display: none;
}


@media screen and ( max-width: 768px ){
    #myTopnav ul{
        display: none;
        flex-direction: column;
    }

    #myTopnav .icon{
        display: block;
        background: grey;
    }

    #myTopnav #burger:checked ~ ul{
        display: block;
    }
}